.bannerbg{
    background-image: url('../portfolio-bg.jpg');
    height: 80vh;
    
}
.padding{
    padding-top: 100px;
    padding-left: 50px;
}
.resume{
    margin: 10px;
    background-image: linear-gradient(purple,rebeccapurple);
    color: white;
    
}
@media only screen and (max-width: 600px) {
    .bannerimg{
        width:300px;
        margin-left:25px ;
        margin-top: 10px;
        overflow-x: hidden;
    }
  }




